<p id="notice"><%= notice %></p>

<p>
  <b>Addcode:</b>
  <%= @addp.addcode %>
</p>

<p>
  <b>Cptcode:</b>
  <%= @addp.cptcode %>
</p>

<p>
  <b>Desc:</b>
  <%= @addp.Desc %>
</p>

<p>
  <b>Units:</b>
  <%= @addp.units %>
</p>

<p>
  <b>Fee:</b>
  <%= @addp.fee %>
</p>


<%= link_to 'Edit', edit_addp_path(@addp) %> |
<%= link_to 'Back', addps_path %>
