
 
				<tr>

 					<td class="px250n">  <%= link_to crna.code, edit_crna_path(crna), :remote => true  %> </td>
					<td class="px100n"> <%= crna.lname      %> </td>
					<td class="px100n"> <%= crna.fname        %> </td>
					<td class="px250n">  <%= crna.cat1       %> </td>
					<td class="px100n">  <%= crna.cat2        %> </td>

				</tr>

