
 
				<tr>

 					<td class="px100n"> <%= link_to loc.code, edit_loc_path(loc), :remote => true  %> </td>
					<td class="px400n"> <%= loc.name        %> </td>
					<td class="px100n"> <%= loc.cat1        %> </td>
					<td class="px100n"> <%= loc.cat2        %> </td>
					<td class="px100n"> <%= loc.cat3        %> </td>

				</tr>

