
 
				<tr>

 					<td class="px250n">  <%= link_to prov.code, edit_prov_path(prov), :remote => true  %> </td>
					<td class="px100n"> <%= prov.lname      %> </td>
					<td class="px100n"> <%= prov.fname        %> </td>
					<td class="px250n">  <%= prov.cat1       %> </td>
					<td class="px100n">  <%= prov.cat2        %> </td>

				</tr>

