
 
				<tr>

 					<td class="px100n">  <%= link_to surg.id, edit_surg_path(surg), :remote => true  %> </td>
					<td class="px200n"> <%= surg.lname        %> </td>
					<td class="px200n"> <%= surg.fname        %> </td>
					<td class="px100n"> <%= surg.cat1         %> </td>
					<td class="px100n"> <%= surg.cat3         %> </td>
					<td class="px100n"> <%= surg.cat2         %> </td>

				</tr>

