
 
				<tr>

 					<td class="px250n">  <%= link_to surg.code, edit_surg_path(surg), :remote => true  %> </td>
					<td class="px100n"> <%= surg.lname      %> </td>
					<td class="px100n"> <%= surg.fname        %> </td>
					<td class="px250n">  <%= surg.cat1       %> </td>
					<td class="px100n">  <%= surg.cat2        %> </td>

				</tr>

