<p id="notice"><%= notice %></p>

<p>
  <b>Caseid:</b>
  <%= @case.caseid %>
</p>

<p>
  <b>Patid1:</b>
  <%= @case.patid1 %>
</p>

<p>
  <b>Plname:</b>
  <%= @case.plname %>
</p>

<p>
  <b>Pfname:</b>
  <%= @case.pfname %>
</p>

<p>
  <b>Pmname:</b>
  <%= @case.pmname %>
</p>

<p>
  <b>Psortname:</b>
  <%= @case.psortname %>
</p>

<p>
  <b>Pdob:</b>
  <%= @case.pdob %>
</p>

<p>
  <b>Psex:</b>
  <%= @case.psex %>
</p>

<p>
  <b>Patid3:</b>
  <%= @case.patid3 %>
</p>

<p>
  <b>Procedure:</b>
  <%= @case.procedure %>
</p>

<p>
  <b>Diagnosis:</b>
  <%= @case.diagnosis %>
</p>

<p>
  <b>Position:</b>
  <%= @case.position %>
</p>

<p>
  <b>Physical state:</b>
  <%= @case.physical_state %>
</p>

<p>
  <b>Cpt surg:</b>
  <%= @case.cpt_surg %>
</p>

<p>
  <b>Cpt anes:</b>
  <%= @case.cpt_anes %>
</p>

<p>
  <b>Diag1:</b>
  <%= @case.diag1 %>
</p>

<p>
  <b>Diag2:</b>
  <%= @case.diag2 %>
</p>

<p>
  <b>Diag3:</b>
  <%= @case.diag3 %>
</p>

<p>
  <b>Diag4:</b>
  <%= @case.diag4 %>
</p>

<p>
  <b>Ins cat:</b>
  <%= @case.ins_cat %>
</p>

<p>
  <b>Start time:</b>
  <%= @case.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @case.end_time %>
</p>

<p>
  <b>Postop block:</b>
  <%= @case.postop_block %>
</p>

<p>
  <b>Postop block req:</b>
  <%= @case.postop_block_req %>
</p>

<p>
  <b>Interscalene:</b>
  <%= @case.interscalene %>
</p>

<p>
  <b>Interscalene cat:</b>
  <%= @case.interscalene_cat %>
</p>

<p>
  <b>Interscalene sense:</b>
  <%= @case.interscalene_sense %>
</p>

<p>
  <b>Supraclav:</b>
  <%= @case.supraclav %>
</p>

<p>
  <b>Supraclav cat:</b>
  <%= @case.supraclav_cat %>
</p>

<p>
  <b>Supraclav sense:</b>
  <%= @case.supraclav_sense %>
</p>

<p>
  <b>Infraclav:</b>
  <%= @case.infraclav %>
</p>

<p>
  <b>Infraclav cat:</b>
  <%= @case.infraclav_cat %>
</p>

<p>
  <b>Infraclav sense:</b>
  <%= @case.infraclav_sense %>
</p>

<p>
  <b>Femoral:</b>
  <%= @case.femoral %>
</p>

<p>
  <b>Femoral cat:</b>
  <%= @case.femoral_cat %>
</p>

<p>
  <b>Femoral sense:</b>
  <%= @case.femoral_sense %>
</p>

<p>
  <b>Sciatic:</b>
  <%= @case.sciatic %>
</p>

<p>
  <b>Sciatic cat:</b>
  <%= @case.sciatic_cat %>
</p>

<p>
  <b>Sciatic sense:</b>
  <%= @case.sciatic_sense %>
</p>

<p>
  <b>Axillary:</b>
  <%= @case.axillary %>
</p>

<p>
  <b>Axillary sense:</b>
  <%= @case.axillary_sense %>
</p>

<p>
  <b>Block res1:</b>
  <%= @case.block_res1 %>
</p>

<p>
  <b>Block res1 cat:</b>
  <%= @case.block_res1_cat %>
</p>

<p>
  <b>Block res1 sense:</b>
  <%= @case.block_res1_sense %>
</p>

<p>
  <b>Block res2:</b>
  <%= @case.block_res2 %>
</p>

<p>
  <b>Block res2 cat:</b>
  <%= @case.block_res2_cat %>
</p>

<p>
  <b>Block res2 sense:</b>
  <%= @case.block_res2_sense %>
</p>

<p>
  <b>Block res3:</b>
  <%= @case.block_res3 %>
</p>

<p>
  <b>Block res3 cat:</b>
  <%= @case.block_res3_cat %>
</p>

<p>
  <b>Block res3 sense:</b>
  <%= @case.block_res3_sense %>
</p>

<p>
  <b>Addproc1:</b>
  <%= @case.addproc1 %>
</p>

<p>
  <b>Addproc2:</b>
  <%= @case.addproc2 %>
</p>

<p>
  <b>Addproc3:</b>
  <%= @case.addproc3 %>
</p>

<p>
  <b>Addproc4:</b>
  <%= @case.addproc4 %>
</p>

<p>
  <b>Addproc5:</b>
  <%= @case.addproc5 %>
</p>

<p>
  <b>Addproc6:</b>
  <%= @case.addproc6 %>
</p>

<p>
  <b>Addproc7:</b>
  <%= @case.addproc7 %>
</p>

<p>
  <b>Addproc8:</b>
  <%= @case.addproc8 %>
</p>

<p>
  <b>Addproc9:</b>
  <%= @case.addproc9 %>
</p>

<p>
  <b>Addproc10:</b>
  <%= @case.addproc10 %>
</p>

<p>
  <b>Addproc11:</b>
  <%= @case.addproc11 %>
</p>

<p>
  <b>Addproc12:</b>
  <%= @case.addproc12 %>
</p>

<p>
  <b>Addproc13:</b>
  <%= @case.addproc13 %>
</p>

<p>
  <b>Addproc14:</b>
  <%= @case.addproc14 %>
</p>

<p>
  <b>Addproc15:</b>
  <%= @case.addproc15 %>
</p>

<p>
  <b>Addproc16:</b>
  <%= @case.addproc16 %>
</p>

<p>
  <b>Addproc17:</b>
  <%= @case.addproc17 %>
</p>

<p>
  <b>Addproc18:</b>
  <%= @case.addproc18 %>
</p>

<p>
  <b>Addproc19:</b>
  <%= @case.addproc19 %>
</p>

<p>
  <b>Addproc20:</b>
  <%= @case.addproc20 %>
</p>

<p>
  <b>Surg anes mode:</b>
  <%= @case.surg_anes_mode %>
</p>

<p>
  <b>Baseic units:</b>
  <%= @case.baseic_units %>
</p>

<p>
  <b>Time units:</b>
  <%= @case.time_units %>
</p>

<p>
  <b>Mod units:</b>
  <%= @case.mod_units %>
</p>

<p>
  <b>Line units:</b>
  <%= @case.line_units %>
</p>

<p>
  <b>Total units:</b>
  <%= @case.total_units %>
</p>

<p>
  <b>Surgical amount:</b>
  <%= @case.surgical_amount %>
</p>

<p>
  <b>Addproc14 days:</b>
  <%= @case.addproc14_days %>
</p>

<p>
  <b>Otherproc:</b>
  <%= @case.otherproc %>
</p>

<p>
  <b>Otherproc desc:</b>
  <%= @case.otherproc_desc %>
</p>

<p>
  <b>Otherproc cpt:</b>
  <%= @case.otherproc_cpt %>
</p>

<p>
  <b>Otherproc amount:</b>
  <%= @case.otherproc_amount %>
</p>

<p>
  <b>Otherproc2:</b>
  <%= @case.otherproc2 %>
</p>

<p>
  <b>Otherproc2 desc:</b>
  <%= @case.otherproc2_desc %>
</p>

<p>
  <b>Otherproc2 cpt:</b>
  <%= @case.otherproc2_cpt %>
</p>

<p>
  <b>Otherproc2 amount:</b>
  <%= @case.otherproc2_amount %>
</p>

<p>
  <b>Total amount:</b>
  <%= @case.total_amount %>
</p>

<p>
  <b>Loc:</b>
  <%= @case.loc %>
</p>

<p>
  <b>Servdt:</b>
  <%= @case.servdt %>
</p>

<p>
  <b>Status:</b>
  <%= @case.status %>
</p>

<p>
  <b>Exported:</b>
  <%= @case.exported %>
</p>

<p>
  <b>Status2:</b>
  <%= @case.status2 %>
</p>

<p>
  <b>Status3:</b>
  <%= @case.status3 %>
</p>

<p>
  <b>Patid2:</b>
  <%= @case.patid2 %>
</p>

<p>
  <b>Patid3:</b>
  <%= @case.patid3 %>
</p>

<p>
  <b>Total minutes:</b>
  <%= @case.total_minutes %>
</p>

<p>
  <b>Total time:</b>
  <%= @case.total_time %>
</p>


<%= link_to 'Edit', edit_case_path(@case) %> |
<%= link_to 'Back', cases_path %>
