<p id="notice"><%= notice %></p>

<p>
  <b>Prac no:</b>
  <%= @user.prac_no %>
</p>

<p>
  <b>Userid:</b>
  <%= @user.userid %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Customer code:</b>
  <%= @user.customer_code %>
</p>

<p>
  <b>Prac access:</b>
  <%= @user.prac_access %>
</p>

<p>
  <b>Allow all pracs:</b>
  <%= @user.allow_all_pracs %>
</p>

<p>
  <b>Revoked:</b>
  <%= @user.revoked %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Res3:</b>
  <%= @user.res3 %>
</p>

<p>
  <b>Res4:</b>
  <%= @user.res4 %>
</p>

<p>
  <b>Res5:</b>
  <%= @user.res5 %>
</p>

<p>
  <b>Res6:</b>
  <%= @user.res6 %>
</p>

<p>
  <b>Res7:</b>
  <%= @user.res7 %>
</p>

<p>
  <b>Res8:</b>
  <%= @user.res8 %>
</p>

<p>
  <b>Res9:</b>
  <%= @user.res9 %>
</p>

<p>
  <b>Res10:</b>
  <%= @user.res10 %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
