<!DOCTYPE html>
<html>
<head>
<title>Anestheisa Case Manager</title>
	<link rel="shortcut icon" href="/images/favicon.ico">
	
	<%= stylesheet_link_tag 'jquery-ui-1.8.16.custom.css' %>

	<%= stylesheet_link_tag 'jquery-ui-timepicker-addon.css' %>
	
	<%= stylesheet_link_tag 'core.css' %>
	
	<%= javascript_include_tag :defaults %>
	
	<%= javascript_include_tag 'css_browser_selector.js' %>
	
	<%= javascript_include_tag 'modernizr-1.7.min.js' %>
	
    <%= javascript_include_tag 'jquery.min.js', 'jquery-ui.min.js' %>
	
    <%= javascript_include_tag 'jquery-ui-sliderAccess.js' %>
 
    <%= javascript_include_tag 'jquery-ui-timepicker-addon.js' %>
 
	
	<%= csrf_meta_tag %>

	
</head>
