<!DOCTYPE html>
<html>
<head>
<title>Anestheisa Case Manager</title>
	<link rel="shortcut icon" href="/images/favicon.ico">
	
	<!-- <link rel="apple-touch-icon" href="/images/apple-touch-icon.png"> -->
	
	<%# jQuery UI default css - to be refactored %>
	
	<%= stylesheet_link_tag 'jquery-ui-1.8.16.custom.css' %>
	
	<%# core stylesheet generated from axle framework %>
	
	<%= stylesheet_link_tag 'core.css' %>
	
	<%# javascrip calls %>
	
	<%= javascript_include_tag 'css_browser_selector.js' %>
	
	<%= javascript_include_tag 'modernizr-1.7.min.js' %>
	
	<!--[if (gte IE 6)&(lte IE 8)]>
		<%= javascript_include_tag 'selectivizr-min.js' %>
	<![endif]-->
		
	<%= javascript_include_tag :defaults %>
	
	<%= csrf_meta_tag %>
</head>
