
 
				<tr>

 					<td class="px150n"> <%= scan.caseid         %> </td>
					<td class="px100n"> <%= scan.plname          %> </td>
					<td class="px100n"> <%= scan.pfname          %> </td>
					<td class="px250n"> <%= scan.res1           %> </td>
					<td class="px200n"> <%= scan.final_filename %> </td>

				</tr>

