
<head>
<script type="text/javascript">

function closeme(){

$('#dialogmaindiv2').html("<%= escape_javascript(render :partial => 'cases/adminscreen')%>");
setlocnav();

}  

function edit_back_button(){
	dlogmain2close();
	dlogmain2();
	$('#dialogmaindiv2').html("<%= escape_javascript(render :partial => 'cases/adminscreen')%>");
	$.get("/cases/setloc"); 	
}

 

</script>
</head>

   
   <div class="modal_header">
	<div class="detail_header">
		<ul>
			<li>ADMIN - Location</li>
		</ul>
	</div>
	<div class="action_buttons">
	    <!--<button onclick=""><span class="icofont_alpha">p</span>PRINT</button>--><button onclick="edit_back_button();" class="close">X</button>
	</div>
  </div>

<%= form_for(@loc, :remote => true) do |f| %>
  
  <div class="case_view" style="width:940px"> 
	<div style="width:800px;">
		<br></br>
		<br></br>
			
	
		<label class="px130n">Loc Name: <%= mark_required(@loc, :name) %></label> 
		<%= f.text_field :name, {:class => "px450"}%>
        <br>
		<br>
		<br>
		<br>
		
		
		<label class="px130n">TMM Number: <%= mark_required(@loc, :cat1) %></label> 
		<%= f.text_field :cat1, {:class => "px100n"}%>
		<br></br>

		<label class="px130n">NPI Number: <%= mark_required(@loc, :cat2) %></label> 
		<%= f.text_field :cat2, {:class => "px150n"}%>
		<br></br>

		
 		<label class="px130n">Default POS: <%= mark_required(@loc, :cat3) %></label>
		<%= f.text_field :cat3, {:class => "px100n"}%>
		<br></br>	
 
		<br></br>
		<br></br>
		<br></br>
		<br></br>
		<br></br>
		
		
		<div class="actions">
			<% if ! @loc.new_record?  %>
				<%= f.submit 'Update Loc' %>
				<%= link_to 'Delete', @loc, :remote => true, :method => :delete, :class => 'button' %> 
		    <% else %>
				<%= f.submit 'Create Loc' %>
			<% end %>
		</div>  

		
		
		
		
		
	</div>
  </div>
 
  
  
  
  

  <% end %>
