
<head>
<script type="text/javascript">

function closeme(){

$('#dialogmaindiv2').html("<%= escape_javascript(render :partial => 'cases/adminscreen')%>");
setlocnav();

}   

</script>
</head>

   
   <div class="modal_header">
	<div class="detail_header">
		<ul>
			<li>EDIT - Location</li>
		</ul>
	</div>
	<div class="action_buttons">
	    <!--<button onclick=""><span class="icofont_alpha">p</span>PRINT</button>--><button onclick="closeme();" class="close">X</button>
	</div>
  </div>

<%= form_for(@loc, :remote => true) do |f| %>
  
  <div class="case_view" style="width:940px"> 
	<div style="width:800px;">
	
	
		<label class="pxfull">Location Name: <%= mark_required(@loc, :name) %></label> 

		<%= f.text_field :name, {:class => "px250"} %>
		<label class="px550t">&nbsp</label>  

		<label class="pxpxfull">Reserved 1:</label> 
		<%= f.text_field :cat1, {:class => "pxfull"}%>
  
		<label class="pxpxfull">Reserved 2:</label> 
		<%= f.text_field :cat2, {:class => "pxfull"}%>
		
		<label class="pxpxfull">Reserved 3:</label> 
		<%= f.text_field :cat3, {:class => "pxfull"}%>
	
		<label class="pxpxfull">Reserved 4:</label> 
		<%= f.text_field :cat4, {:class => "pxfull"}%>

		<label class="pxpxfull">Reserved 5:</label> 
		<%= f.text_field :cat5, {:class => "pxfull"}%>

		<div class="actions">
			<%= f.submit %><%= link_to 'Delete', @loc, :remote => true, :method => :delete, :class => 'button' %> 
		</div>  
	</div>
  </div>
 
  
  
  
  

  <% end %>
