<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @loc.code %>
</p>

<p>
  <b>Name:</b>
  <%= @loc.name %>
</p>

<p>
  <b>Cat1:</b>
  <%= @loc.cat1 %>
</p>

<p>
  <b>Cat2:</b>
  <%= @loc.cat2 %>
</p>

<p>
  <b>Cat3:</b>
  <%= @loc.cat3 %>
</p>

<p>
  <b>Cat4:</b>
  <%= @loc.cat4 %>
</p>

<p>
  <b>Cat5:</b>
  <%= @loc.cat5 %>
</p>


<%= link_to 'Edit', edit_loc_path(@loc) %> |
<%= link_to 'Back', locs_path %>
