
<head>
<script type="text/javascript">



function edit_back_button(){
	dlogmain2close();
	dlogmain2();
	$('#dialogmaindiv2').html("<%= escape_javascript(render :partial => 'cases/adminscreen')%>");
	$.get("/cases/setprov"); 	
}

</script>
</head>





<div class="modal_header">
	<div class="detail_header">
		<ul>
			<li>ADMIN - Anesthesiologist</li>
		</ul>
	</div>
	<div class="action_buttons">
	    <!--<button onclick=""><span class="icofont_alpha">p</span>PRINT</button>--><button onclick="edit_back_button();" class="close">X</button>
	</div>
</div>


<%= form_for(@prov, :remote => true) do |f| %>
  
 
  <div class="case_view" style="width:940px"> 
	<div style="width:800px;">
	
   		<%= f.hidden_field :code, {:class => "px100n"} %>
		<br>
		<br>  
		<br>
		
		<label class="px300n">Last Name: <%= mark_required(@prov, :lname) %></label> 
		<label class="px300n">First Name: <%= mark_required(@prov, :fname) %></label>
        <br></br>
		<%= f.text_field :lname, {:class => "px300n"} %>
		<%= f.text_field :fname, {:class => "px300n"} %>
		<br></br>
		<br></br>
		
		<label class="px130n">TMM Number: <%= mark_required(@prov, :cat1) %></label> 
		<%= f.text_field :cat1, {:class => "px150n"}%>
		<br></br>
		
 		<label class="px130n">NPI Number:</label>
		<%= f.text_field :cat3, {:class => "px150n"}%>
		<br></br>	
 
		<label class="px130n">Frequent List:</label>
		<%= f.text_field :cat2, {:class => "px150n"}%>
		<br></br>
		<br></br>
		<br></br>
		<br></br>
		<br></br>
		<br></br>


		
		<div class="actions">
			<% if ! @prov.new_record?  %>
				<%= f.submit 'Update Anesth' %>
				<%= link_to 'Delete', @prov, :remote => true, :method => :delete, :class => 'button' %> 
		    <% else %>
				<%= f.submit 'Create Anesth' %>
			<% end %>
		</div>  
	</div>
</div>
  
  
  
  
  

<% end %>
