<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @prov.code %>
</p>

<p>
  <b>Lname:</b>
  <%= @prov.lname %>
</p>

<p>
  <b>Fname:</b>
  <%= @prov.fname %>
</p>

<p>
  <b>Mname:</b>
  <%= @prov.mname %>
</p>

<p>
  <b>Cat1:</b>
  <%= @prov.cat1 %>
</p>

<p>
  <b>Cat2:</b>
  <%= @prov.cat2 %>
</p>

<p>
  <b>Cat3:</b>
  <%= @prov.cat3 %>
</p>

<p>
  <b>Cat4:</b>
  <%= @prov.cat4 %>
</p>

<p>
  <b>Cat5:</b>
  <%= @prov.cat5 %>
</p>


<%= link_to 'Edit', edit_prov_path(@prov) %> |
<%= link_to 'Back', provs_path %>
