<head>
<script type="text/javascript">

function edit_back_button(){
	dlogmain2close();
	dlogmain2();
	$('#dialogmaindiv2').html("<%= escape_javascript(render :partial => 'cases/adminscreen')%>");
	$.get("/cases/setcrna"); 	
}

</script>
</head>



   <div class="modal_header">
	<div class="detail_header">
		<ul>
			<li>ADMIN - CRNA</li>
		</ul>
	</div>
	<div class="action_buttons">
	    <!--<button onclick=""><span class="icofont_alpha">p</span>PRINT</button>--><button onclick="edit_back_button();" class="close">X</button>
	</div>
  </div>

<%= form_for(@crna, :remote => true) do |f| %>
  
 
  <div class="case_view" style="width:940px"> 
	<div style="width:800px;">
 
		<%= f.hidden_field :code, {:class => "px100n"} %>
		<br>
		<br>  
		<br>
		
		<label class="px300n">Last Name: <%= mark_required(@crna, :lname) %></label> 
		<label class="px300n">First Name: <%= mark_required(@crna, :fname) %></label>
        <br></br>
		<%= f.text_field :lname, {:class => "px300n"} %>
		<%= f.text_field :fname, {:class => "px300n"} %>
		<br></br>
		<br></br>
		
		<label class="px130n">TMM Number: <%= mark_required(@crna, :cat1) %></label> 
		<%= f.text_field :cat1, {:class => "px150n"}%>
		<br></br>
		
 		<label class="px130n">NPI Number:</label>
		<%= f.text_field :cat3, {:class => "px150n"}%>
		<br></br>	
 
		<label class="px130n">Frequent List:</label>
		<%= f.text_field :cat2, {:class => "px150n"}%>
		<br></br>
		<br></br>
		<br></br>
		<br></br>
		<br></br>
		<br></br>


		
		<div class="actions">
			<%= f.submit %>
			<% if ! @crna.new_record?  %>
				<%= link_to 'Delete', @crna, :remote => true, :method => :delete, :class => 'button' %> 
			<% end %>
		</div>      
		
	</div>
  </div>
 
  
  
  
<% end %>
