<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @crna.code %>
</p>

<p>
  <b>Lname:</b>
  <%= @crna.lname %>
</p>

<p>
  <b>Fname:</b>
  <%= @crna.fname %>
</p>

<p>
  <b>Mname:</b>
  <%= @crna.mname %>
</p>

<p>
  <b>Cat1:</b>
  <%= @crna.cat1 %>
</p>

<p>
  <b>Cat2:</b>
  <%= @crna.cat2 %>
</p>

<p>
  <b>Cat3:</b>
  <%= @crna.cat3 %>
</p>

<p>
  <b>Cat4:</b>
  <%= @crna.cat4 %>
</p>

<p>
  <b>Cat5:</b>
  <%= @crna.cat5 %>
</p>


<%= link_to 'Edit', edit_crna_path(@crna) %> |
<%= link_to 'Back', crnas_path %>
