<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @surg.code %>
</p>

<p>
  <b>Lname:</b>
  <%= @surg.lname %>
</p>

<p>
  <b>Fname:</b>
  <%= @surg.fname %>
</p>

<p>
  <b>Mname:</b>
  <%= @surg.mname %>
</p>

<p>
  <b>Cat1:</b>
  <%= @surg.cat1 %>
</p>

<p>
  <b>Cat2:</b>
  <%= @surg.cat2 %>
</p>

<p>
  <b>Cat3:</b>
  <%= @surg.cat3 %>
</p>

<p>
  <b>Cat4:</b>
  <%= @surg.cat4 %>
</p>

<p>
  <b>Cat5:</b>
  <%= @surg.cat5 %>
</p>


<%= link_to 'Edit', edit_surg_path(@surg) %> |
<%= link_to 'Back', surgs_path %>
