<!DOCTYPE html>
<html>
<head>
  <title>Acm1</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'jquery-ui-1.8.16.custom.css' %>
  <%= javascript_include_tag 'jquery.min.js', 'jquery-ui.min.js' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
