<%= render :partial => 'shared/head' %>
<body onLoad="document.getElementById('gpLName').focus()">
	<section class="screen_container">
		<%= render :partial => "shared/site_header" %>
		
		<%= yield %>
		
		<%= render :partial => "shared/site_footer" %>
	</section>
</body>
<%= render :partial => 'shared/tail' %>
